<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="title">
                <h4><i data-feather="align-left"></i>About Me</h4>
            </div>
            <div class="content">
                {{form_start(form,{'action':path('about_user')})}}
                <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Write about Yourself</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.aboutme,{'attr':{'class':'form-control','placeholder':'Write about yourself'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-sm-3 col-sm-9">
                            <div class="buttons">
                                <button  class="primary-bg">Save Update</button>
                                <button class="" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>